<page-header [title]="'نحوه سایزبندی ایرانی و جدول سایز بین المللی'"></page-header>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>اولین قدم برای آغار فرایند انتخاب و دوخت لباس، داشتن جدول سایزبندی استاندارد متناسب با آناتومی و جنسیت افراد
                    می باشد. در نهایت، هدف داشتن لباسی است که کاملا بر بدن بنشیند و جلوه ی زیبایی داشته باشد. توصیه می شود
                    هر خیاط متد های متفاوتی که در زمینه ی الگوکشی هستند را بشناسد و با نقاط ضعف و قوت این الگو ها آشنا باشد
                </p>
                <p>
                    در ایران متد هایی مانند مولر، متریک وگرلاوین رواج بیشتری دارند. تفاوت این متد ها تنها در نوع سایز بندی و طراحی الگوهاست.
                    در هر مرحله از انتخاب متد و پیاده سازی آن باید در نظر بگیریم الگو و مدل طراحی بگونه ایی باشد که در عین
                    حال که در زمان صرفه جویی می شود، نقص های اندامی را به حداقل برساند. باید توجه داشت نقطه اوج یک خیاط جاییست
                    که تمامی متد ها را شناخته و با توجه به نیاز جامعه و به تناسب اندام و قد مشتریانش سایز ها را بومی سازی
                    کند، که البته این مورد برای لباس ها ی سفارشی مد نظر است. گرلاوین و متریک روش های قدیمی و تقریبا منسوخ
                    شده به شمار می آیند، بزرگ ترین دلیلش این است که این روش ها در عین پیچیدگی، ایراد های زیادی دارند که اساس
                    متدی انگلیسی متناسب با آناتومی افراد آن کشور که معمولا قد بلند بوده و دست هایی کشیده و گردن هایی بلند
                    داشتند، درست شده اند. اما روش مولر روشی است که بیشتر از سایر متد ها با اقبال خیاطان سفارشی دوز و سری
                    دوز مواجه شد. چرا که سایز الگوها با سایز های ایرانی منطبق بودند و سایز بندی در آن با دقت خاصی انجام می
                    شود، تا حدی که این روش به متد بدون پرو معروف است زیرا با داشتن یک سایز می توان الگو هایی با سایزهای دیگر
                    ایجاد کرد
                </p>
                <h2>نحوه کلی به دست آوردن سایز</h2>
                <p>برای دانستن سایز دقیق، به هدف سفارش اینترتی لباس و خرید لباس، در کشور های مختلف استاندارد هایی وجود دارد،
                    در این روند سایز با روشی آسان اندازه گیری شده، سپس منطبق با جدول سایزبندی به استاندارد هر تولیدی دسترسی
                    ایجاد می شود</p>
                <h2>اندازه گیری سایز خانم ها</h2>
                <p>برای خانم ها این سه مورد را باید به صورت دقیق اندازه گیری کرد که در نهایت خروجی بی نقصی ارائه می دهد: دور
                    کمر، دور باسن، دور سینه ها
                </p>




                <p>
                    <strong>دور سینه : </strong>بلند ترین نقطه سینه در نظر گرفته می شود و از پشت کمر تا روی سینه اندازه گیری می شود.
                </p>
                <p>
                    <strong>دور کمر : </strong>باریک ترین نقطه دور کمر، نواری بسته می شود و دور کمر اندازه گیری می شود.
                </p>
                <p>
                    <strong>دور باسن : </strong>از برجسته ترین نقطه باسن گرفته تا به جلو اندازه گیری می شود
                </p>
                <p>با اعداد به دست آمده امکان محاسبه دیگر سایز ها در متد مولر وجود دارد و در اصل الگویی که با روش مولر کشیده
                    شده قابلیت این را دارد که به سایز های مختلف تبدیل و تطبیق داده شوند</p>
            </div>
            <div class="col-12">
                <img class="w-100" src="assets/images/other/sizes.jpg" alt="جدول اندازه های استاندارد اندام نرمال بانوان">
            </div>
        </div>
    </div>
</div>