<page-header [title]="'پیشنهادات ویژه'"></page-header>
<div class="row">
  <div class="container">
    <div class="row">
      <empty-list [show]="specialOffers.length==0"></empty-list>
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of specialOffers;let i = index">
        <item-product [product]="product">
          <button mat-mini-fab (click)="openModal(i)">
            <mat-icon>zoom_in</mat-icon>
          </button>
        </item-product>
      </div>
    </div>
  </div>
</div>
<light-box [images]="gallery"></light-box>