$defaultFontSize: 16px;
$defaultGray: #8f8f8f;
$titleSize: 1.5em;
$subTitleSize: 0.9em;
$titleColor: #3f3f3f;
$subtitleColor: #6a6a6a;
$darkGray: #787887;
$lightGray1: #f0f0f5;
$lightGray2: #ddd;
$bgDark1: #1e2327;
$bgDark2: #262a2e;
$pink: #FF4081;
$gold: #b3912f;
