<div class="row">
  <div class="w-100">
    <table>
      <thead>
        <tr>
          <th class="text-right">
            <div class="line"></div>
          </th>
        </tr>
        <tr>
          <th class="text-right">
            <span>محصولات اضافه شده</span>
            <span>تعداد</span>
            <span>قیمت</span>
            <span>حذف</span>
          </th>
        </tr>
        <tr>
          <th class="text-right">
            <div class="line"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <ng-content></ng-content>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>