<page-header [title]="'درباره ما'"></page-header>

<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>تولید کننده مانتوفرم اداری ، کت و شلوار اداری ، لباس کار ، کفش اداری بانوان و آقایان</h1>
        <p>
          شرکت سون فرم، برترین تولید کننده مانتو و شلوار اداری و کت و شلوار اداری آقایان در ایران می باشد. این شرکت مفتخر است با استفاده
          از تجربه های فراوانی که در عرصه برش و دوخت کسب کرده است، توانسته رضایت و آرامش خاطر مشتریان عزیز را کسب نماید.
          در حال حاضر سون فرم با پشتکار و خلاقیتی که در زمینه تولید، فروش و پشتیبانی پس از فروش دارد، در صدد است که اعتماد
          شما مشتریان عزیز را بیش از پیش جلب کرده و شاخه جدیدی را در زمینه تولید و طراحی بهتر پدید آورد. امید است بتوانیم
          هر آنچه را که شما دوست دارید، به ارمغان آوریم و نام ما، یادآور خاطره ای نیک بر ذهن شما باشد. شرکت سون فرم با ویژگی
          های زیر توانسته است سابقه درخشانی را در زمینه تولید به ارمغان آورد.برخی از این ویژگی ها عبارتند از : 1-مهارت در
          سایز گیری : یکی از تخصصی ترین بخش های تهیه و تولید یونیفرم اداری بانوان و آقایان سایز گیری پرسنل آن سازمان میباشد.
          ما توانسته ایم با کادری مجرب در زمینه سایز گیری کمترین خطا و بیشترین آمار رضایت را جلب کنیم . 2-استفاده از مرغوبترین
          پارچه : قطعا یکی از مهم ترین و اصلی ترین اجزای یونیفرم استفاده از بهترین و مرغوبترین نوع پارچه است .شرکت سون فرم
          این اطمینان را به مشتریان عزیز خواهد داد که از بهترین و با کیفیت ترین پارچه ها که توسط کارشناسان ماهر در زمینه
          شناخت و آنالیز پارچه ها است ٬ استفاده میکند . 3-کیفیت در برش و دوخت : بعد از مرغوبیت پارچه نوبت به کیفیت در تولید
          پارچه ها است . قطعا برش و دوخت در تولید یونیفرم ها نقش های کلیدی خواهند داشت . در رابطه با کیفیت برش و دوخت یونیفرم
          ها پیشنهاد میکنیم کافیست یکبار محصولات مارا انتخاب کنید سپس انتخاب با شماست.
        </p>
      </div>
    </div>
  </div>
</div>