<page-header [title]="'اخذ نمایندگی'"></page-header>
<div class="row">
  <div class="container">
    <div class="row wrapper">
      <div class="col-12">
        <form class="example-form row" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width col-md-6" color="accent">
            <input [(ngModel)]="name" required matInput placeholder="نام" [formControl]="nameFormControl">
            <mat-error *ngIf="nameFormControl.hasError('required')">
              نام الزامی است
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width col-md-6" color="accent">
            <input [(ngModel)]="phoneNumber" pattern="[0-9]{11}" type="text" required matInput placeholder="شماره تماس" [formControl]="phoneFormControl">
            <mat-error *ngIf="phoneFormControl.hasError('required')">
              شماره تماس الزامی است
            </mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width col-md-6" color="accent">
            <input [(ngModel)]="state" required matInput placeholder="استان" [formControl]="stateFormControl">
            <mat-error *ngIf="stateFormControl.hasError('required')">
              استان الزامی است
            </mat-error>
          </mat-form-field>


          <mat-form-field class="example-full-width col-md-6" color="accent">
            <input [(ngModel)]="city" required matInput placeholder="شهر" [formControl]="cityFormControl">
            <mat-error *ngIf="cityFormControl.hasError('required')">
              شهر الزامی است
            </mat-error>
          </mat-form-field>

          <div class="col-12">
            <button mat-raised-button color="accent">ثبت</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>