@import "../../../sass/style.scss";

:host {
    display: block;
    width: 100%;
    padding: .75rem 0;
}

span {
    padding: 0 10px;
}

.your-here {
    margin-left: 10px;
}

li {
    float: right;
}

ol {
    margin: 0;
    background: #fff;
}

a {
    @include defaultFont($color: $pink);
}

a:hover {
    text-decoration: underline;
}

.breadcrumb-items span {
    color: $defaultGray !important;
    padding: 0 5px;
}

.none {
    display: none !important;
}

.inline {
    display: inline !important;
}
