<div class="row">
  <div class="container">
    <div class="row header">
      <div class="col-sm-6 header-image text-center text-sm-right">
        <img src="assets/images/other/1.png" alt="سون فرم">
      </div>
      <div class="col-sm-6">
        <div class="row h-100 justify-content-center align-items-center">
          <div class="col-12">
            <h1 class="text-center text-sm-right">
              سون فرم
            </h1>
            <h2 class="text-center text-sm-right" style="margin: 25px auto;
            font-size: 24px;">
              برترین تولیدکننده
              <h1 class="d-inline" style="font-size: 24px;color:#8f8f8f">
                <strong>مانتو فرم</strong>
              </h1> در حال حاضر ایران
            </h2>
            <h5 class="text-center text-sm-right" style="font-size:16px;">
              تولید مانتوفرم اداری بانوان و کت و شلوار اداری آقایان
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <a routerLink="/more-information" fragment="form-profit-for-employee">
          <h2 class="service-title">
            <mat-icon class="align-middle" color="accent">send</mat-icon>
            فرم لباس کارمندان
          </h2>
          <p class="service">مزایای لباس فرم برای کارمندان؟</p>
        </a>
      </div>
      <div class="col-sm-4 text-center">
        <a routerLink="/more-information" fragment="form-profit-for-employer">
          <h2 class="service-title">
            <mat-icon class="align-middle" color="accent">verified_user</mat-icon>
            منافع کارفرما
          </h2>
          <p class="service">منافع کارفرما از لباس فرم یک دست در شرکت؟</p>
        </a>
      </div>
      <div class="col-sm-4 text-center">
        <a routerLink="/more-information" fragment="form-profit-for-client">
          <h2 class="service-title">
            <mat-icon class="align-middle" color="accent">refresh</mat-icon>
            منافع مشتری
          </h2>
          <p class="service">لباس فرم و ارتباط آن با افزایش مشتری؟</p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row products">
  <div class="container">
    <div class="row">
      <div class="col-md-4 product-cat">
        <a routerLink="/products" [queryParams]="{group:'مانتو فرم اداری', category:'هواپیمایی'}">
          <div class="grid">
            <figure class="effect-ming rounded">
              <img src="assets/images/categories/فرم اژانس هواپیمایی.jpg" alt="فرم آژانس هواپیمایی" />
              <figcaption>
                <p class="category-caption">مانتو فرم هواپیمایی</p>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-md-4 d-none d-md-block categories latest-product align-self-center">
        <h2 class="text-center">
          مانتو ســــون فــرم
        </h2>
        <div class="row justify-content-center">
          <p class="text-justify col-12">شرکت
            <strong>سون فرم</strong>، برترین تولید کننده
            <strong>مانتو</strong> و
            <strong>شلوار اداری</strong> و
            <strong>کت و شلوار</strong> آقایان و بانوان در ایران می باشد. این شرکت مفتخر است با استفاده از تجربه های فراوانی که در
            عرصه برش و دوخت کسب کرده است، توانسته رضایت و آرامش خاطر مشتریان عزیز را کسب نماید.</p>
          <a mat-button routerLink="/products">همین حالا خرید کنید</a>
        </div>
      </div>
      <div class="col-md-4 product-cat">
        <a routerLink="/products" [queryParams]="{group:'مانتو فرم اداری', category:'اداری'}">
          <div class="grid">
            <figure class="effect-ming rounded">
              <img src="assets/images/categories/مانتو فرم اداری1.jpg" alt="مانتو فرم اداری">
              <figcaption>
                <p class="category-caption">مانتو فرم اداری</p>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-md-4 product-cat">
        <a routerLink="/products" [queryParams]="{group:'مانتو فرم اداری', category:'اداری'}">
          <div class="grid">
            <figure class="effect-ming rounded">
              <img src="assets/images/categories/مانتو فرم اداری2.jpg" alt="مانتو فرم اداری">
              <figcaption>
                <p class="category-caption">مانتو فرم اداری</p>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-md-4 product-cat">
        <a routerLink="/products" [queryParams]="{group:'کت و شلوار فرم اداری', category:''}">
          <div class="grid">
            <figure class="effect-ming rounded">
              <img src="assets/images/categories/کت و شلوار مردانه.jpg" alt="کت و شلوار فرم اداری">
              <figcaption>
                <p class="category-caption">کت و شلوار آقایان</p>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
      <div class="col-md-4 product-cat">
        <a routerLink="/products" [queryParams]="{group:'مانتو فرم اداری', category:'کت و شلوار بانوان'}">
          <div class="grid">
            <figure class="effect-ming rounded">
              <img src="assets/images/categories/کت و شلوار زنانه.jpg" alt="مانتو فرم اداری">
              <figcaption>
                <p class="category-caption">مانتو فرم کت و شلواری</p>
              </figcaption>
            </figure>
          </div>
        </a>
      </div>
    </div>
    <div class="row clients">
      <div class="col-12 categories align-self-center">
        <h2 class="text-center">
          برخی از مشتریان سون فرم
        </h2>
      </div>
      <div class="w-100">
        <div class="tech-slideshow">
          <div class="slideshow-wrapper">
            <div>
              <div class="mover"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>