<page-header [title]="'راهنمای خرید پارچه'"></page-header>

<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    هنگام خرید لباس، کیف یا کفش و غیره به انواع اجناس پارچه با نام‌های عجیب و غریب مانند دانتل، بنگالین، لیوسل و غیره برمی‌خورید
                    که اغلب روح خود فروشنده نیز به تفاوت آنها التفات ندارد و اگر از وی بپرسید که مثلاً تفاوت پلی استر و پلی
                    اورتان چیست؟ شروع به بافتن فلسفه‌ می‌کند. ما به دور از تمام سفسطه‌ها برآن آمدیم تا مجموعه‌ای کامل از
                    انواع پارچه را با کمک گرفتن از نساجان خارجی و وطنی جمع آوری نماییم. پارچه از زمان‌های قدیم در میان انسان‌ها
                    بوده و یکی از اختراعات مهم بشریت است؛ به طوری که ما هنوز نتوانستیم تصمیم بگیریم که بین چرخی که زیر پای
                    آدمی می‌چرخد و پارچه که وی را می‌پوشاند کدام مهم‌تر بوده‌است. همه‌ی ما هم در طول زندگی‌مان پارچه دیده‌ایم
                    و با آن سر و کار داشته‌ایم. اگر شک دارید، نگاهی به لباس تن‌تان بیندازید، اگر لباس‌تان از ۵ سال پیش که
                    دوش گرفتید، تا امروز رنگ قهوه‌ای و ظاهری خشک به خود گرفته و در حال ورقه ورقه شدن است که هیچ، در غیر این
                    صورت شما پارچه به تن دارید. اگر از دسته‌ی اول هستید به مقاله‌ی انواع پارچه از الیاف طبیعی تا مصنوعی را
                    بشناسید رجوع کنید و در جهت تولید این پوشش شگفت انگیز قدم بردارید.

                </p>
                <h1>انواع پارچه </h1>
                <p>
                    <strong>نخی : </strong>لباسهای پنبه‌ای در ایران نخی نام دارند. نخ پنبه‌ای از طریق بافندگی، به پارچه یا بافته
                    های پنبه ای تبدیل می شود.</p>
                <p>
                    <strong>پلی استر : </strong>پلی استر کاملاً مصنوعی است. برای تولید این فرآورده از ترکیب دی متیل ترفتالات و منو
                    اتیلن گلیکول و یا اسید ترفتالیک (جایگزین ماده اولیه دی متیل ترفتالات) در مجاورت کاتالیست های مناسب، استفاده
                    می شود. پلیمر حاصل از ترکیب این دو ماده اولیه توسط پمپ از صفحات رشته ساز عبور داده می شود که تحت تاثیر
                    هوای سرد به شکل لیف تبدیل می‌شوند.</p>
                <p>
                    <strong>ویسکوز : </strong>بر خلاف تصور عمومی الیافی بر پایه‌ی طبیعی و همچون پنبه و لینن دارای ماهیت گیاهی(سلولزی)
                    هستند. تنها تفاوتی که می توان به الیاف ویسکوز (ریون) نسبت به پنبه و لینن نسبت داد نحوه‌ی ساخت این الیاف
                    است. الیاف ویسکوز (مانند تولید کاغذ) از خمیر کردن سلولوز تشکیل می‌شوند.</p>
                <p>
                    <strong>لینن : </strong>لینن به پارچه‌ی کنفی هم معروف است و از پارچه های مناسب فصل تابستان محسوب می‌شود. مرغوب‌تربن
                    نوع این پارچه از ۷۰ درصد پنبه، ۱۰ درصد پلی استر و ۲۰ درصد ویسکوز تهیه شده و بدترین نوع آن از ۵۰ درصد
                    پنبه و ۵۰ درصد پلی استر، بدون ویسکوز است.</p>
                <p>
                    <strong>لاکرا یا الاستین : </strong>اسپندکس، لاکرا یا الاستین یک پارچه‌ی مصنوعی است که به خاصیت کشسانی فوق‌العاده‌اش
                    شناخته می‌شود که از پلاستیک طبیعی محکمتر و بادوام‌تر است. از این پارچه در مواردی استفاده می‌شود که کشسانی،
                    به خصوص برای راحتی مد نظر است. مانند کاربرد آن در لباس‌های ورزشی.</p>
                <p>
                    <strong>جیر : </strong>از پوست بز و گوساله تهیه می شود که طی فرایند خاصی و بوسیله وسایل خاصی رخ آن را پرداخت
                    میکنند و سطح گوشتی را به صورت مخملی در می آورند که بیشتر به عنوان آستر در داخل دیگر محصولات استفاده می
                    گردد.</p>
                <p>
                    <strong>چرم طبیعی : </strong>چرم از دباغی پوست حیوانات مختلف مانند گاو، گوسفند، شترمرغ، کروکودیل، مار و حتی کوسه!
                    تهیه می شود.</p>
                <p>
                    <strong>چرم مصنوعی یا پی وی سی : </strong>چرم مصنوعی PVC «پی وی سی» و PU «پلی اورتان» ترکیبی از یک لایه روکش
                    به نام Skin و یک لایه اسفنج از جنس PVC یا PU است که بر روی پارچه پوشش داده می شود.</p>
                <p>
                    <strong>کتان : </strong>پارچه ‌ای است که از الیاف ساقه‌ی کتان ساخته می‌شود. کتان گیاه علفی یکساله‌ و دارای برگ‌های
                    سبز مات و ساقه‌ی متشکل از الیاف نرم و بلند است. از این الیاف نخ کتانی هم به دست می‌آورند. پارچه ی کتان
                    به عنوان پادشاه پارچه ها شناخته می‌شود. از کتان برای ساخت لباس و مبلمان منزل استفاده می‌شود.</p>
                <p>
                    <strong>ابریشم : </strong>پارچه های ابریشمی مستحکم ترین پارچه های دنیا هستند و به علت داشتن پروتئین، ‌هادی حرارت
                    نبوده و آن را در خود نگه می‌دارند. غالبا از پارچه های ابریشمی برای ساخت لوازم منزل و لباس‌های لوکس استفاده
                    می‌شود.</p>
                <p>
                    <strong>جین : </strong>پارچه ی جین پارچه جناغی بافت ناهموار پنبه ای است. در بافت این پارچه ها پود از زیر دو تار
                    یا بیشتر عبور می‌کند. این پارچه دارای دوام و استحکام بالا است و یکی از سبک‌های مد است که در تمام دنیا
                    استفاده می‌شود.</p>
                <p>
                    <strong>ریون : </strong>ماده‌ی اولیه‌ی ریون، سلولز است. سلولز از لینتر پنبه و یا خمیر چوب درختان مخروطی مانند
                    سرو و کاج و مشابه آنها به دست می‌آید. برای تهیه‌ی ماده‌ی اولیه‌ی ریون لازم است سلولز الیاف کوتاه پنبه
                    یا چوب به دقت بازیابی گردد. به این ترتیب با انجام یک سری عملیات شیمیایی در چندین مرحله، سلولز طبیعی به
                    لیف ریون تبدیل می شود. بنابراین، ریون جزء الیاف سلولزی بازیافتی محسوب می شود.</p>
                <p>
                    <strong>نایلون : </strong>نایلون استحکام خوبی در برابر سایش و کشش دارد به همین دلیل موارد استعمال زیادی از جمله
                    جورابهای نایلونی دارد که به علت قابلیت کششی زیاد در قسمت زانو و مفاصل کیسه ای نمی شود. فورا خشک می‌شوند
                    ، زیرا رطوبت کمی به خود جذب می‌کنند.</p>
                <p>
                    <strong>کرپ : </strong>پارچه کرپ می تواند از جنس هایی چون ابریشم، پشم و یا پلی استر تهیه شده باشد. این پارچه
                    با ظاهر توری شکل، معمولا دارای حالتی مجعد و پیچ خورده می باشد.</p>
                <p>
                    <strong>ساتن : </strong>در حقیقت ساتن و مخمل روش بافت پارچه را مشخص می کنند. برای بافتن ساتن ، سطح پارچه ای که
                    مشاهده می کنید . دارای نخ های بسیار طویلی است که همگی رو به یک سمت دارند . این نخ های پود حدوداً ۴/۱
                    اینچ یا بیشتر روی سطح قرار می گیرند. و سپس در پارچه فرو می روند. این روش باعث می شود. تا پارچه شکل ابریشمی
                    و نرم پیدا کند.</p>
                <p>
                    <strong>گاباردین : </strong>نوعی پارچه با بافت ریز از پنبه، پشم یا الیاف مصنوعی با نقوش برجسته تیغ ماهی، جناقی
                    یا مخلوط راه راه اریب است که همواره از سمت راست به چپ یا پایین به بالا بافته می‌شود.</p>
                <p>
                    <strong>اشبالت : </strong>چرمی است شبیه جیر که از ورقه ورقه کردن چرم های ضخیم گاوی به دست می آید که نسبت به جیر
                    سطح پایینتر محسوب و طبقه بندی می گردد.</p>
                <p>
                    <strong>نوبوک : </strong>چرمی است که مانند جیر و اشبالت دارای رخ مخملی می باشد اما با ظرافت بسیار پرداخت شده
                    و دارای سطحی لطیف است.</p>
                <p>
                    <strong>حریر : </strong>پارچهٔ ابریشمی نازک است مانند وال، تور، فاستونی</p>
                <p>
                    <strong>پلاستیک : </strong>مواد مصنوعی مانند اکریلیک، نایلون، پلی استر و مواد شیمیایی پلاستیکی بکار رفته در لباسها
                    که گرما ساز است.</p>
                <p>
                    <strong>پلی یورتان : </strong>پلی یورتان یک پلیمر متشکل از زنجیره ای از واحد های آلی پیوند شده با لینک های کاربامات
                    ( یورتان ) است. محصولات پلی یورتان کاربردهای بسیاری دارد و سه چهارم مصارف جهانی از محصولات پلی یورتان
                    به شکل فوم است.</p>
                <p>
                    <strong>لیوسل : </strong>لیوسل یک شکل از ریون است که شامل فیبرهای سلولوزی است که توسط خمیر کاغذ حل شده تولید
                    می‌شود.</p>
                <p>
                    <strong>کنف : </strong>گیاهی بوته مانند و دارای ساقه های پوشیده از خار است منشأ اصلی آن نواحی مختلف آفریقا بوده
                    و از دانه آن روغن خوراکی استخراج و از الیاف آن محصولات مختلفی منجله کاغذ گونی و چتائی و … تهیه می شود.</p>
                <p>
                    <strong>آکریلیک : </strong>الیاف آکریلیک الیافی هستند که بیش از ۸۵% وزن آنها متشکل از واحدهای اکریلونیتریل (-CH2-CH[CN]-)x
                    به صورت زنجیره‌ی پلیمری است.</p>
                <p>
                    <strong>پلی آمید : </strong>شامل انواع نخ های نایلونی با استحکام بالا در مواردی مثل تقویت تایر خودرو و هواپیما
                    مورد استفاده قرار می گیرند. این الیاف دارای مقاومت عالی در مقابل سایش می باشند. الیاف نایلونی با توجه
                    به استحکام بالا و سختی برای تولید طناب کمربند ایمنی چتر نجات، نخ و تور ماهیگیری مورد استفاده قرار می‌گیرند.</p>
                <p>
                    <strong>استات : </strong>استات‌ها یک استر (در شیمی به ترکیب یک اسید و یک الکل می‌گویند) از سلولوز و یکی از اولین
                    الیاف مصنوعی ساخت بشر هستند. از استات‌ها برای ساخت دکمه، قاب عینک، تودوزی، بلوز، پیراهن، اثاثیه منزل،
                    فیلتر سیگار و غیره استفاده می‌شود.</p>
                <p>
                    <strong>دورس : </strong>نوعی پارچه‌ی نخی که با الیاف پنبه بافته می‌شود و نسبت به دیگر پارچه‌های نخی ضخیم‌تر و
                    مقاوم‌تر بوده و دارای انواع دو نخ و سه نخ است که از آن برای دوخت البسه‌ی گرم کن ورزشی استفاده می‌کنند.</p>
                <p>
                    <strong>پنبه : </strong>پارچه ای که تصور می‌شود آرام بخش و مطمئین‌ترین باشد، پارچه‌ی پنبه‌ای نام دارد. الیاف
                    پنبه ای ‌هادی حرارت هستند و حرارت بدن را به بیرون منتقل کرده و در نتیجه خنک هستند. در ایران لباسهای پنبه
                    ای نخی نام دارند.</p>
                <p>
                    <strong>بنگالین : </strong>پارچه‌ای آجدار که از ابریشم، پشم و یا الیاف مصنوعی بافته می‌شود. بنگالین به نوع بافت
                    پارچه اشاره دارد. نام بنگالین هم از بنگال گرفته شده که این پارچه برای اولین بار از آنجا به فرانسه وارد
                    شد.</p>
                <p>
                    <strong>دانتل و گیپور : </strong>تفاوت دانتل و گیپور در طراحی و زمینه‌های آنهاست. گیپور از بافت پنبه و ابریشم
                    بدون هیچ زمینه ای و به صورت برجسته و ضخیم درست میشه اما دانتل از تارهای ابریشم است که معمولا روی زمینه
                    تور بافته میشه و سه نوع کارشده ، برجسته و کارنشده دارد. دانتل قیمت بسیار بالایی دارد و به دلیل زیبایی
                    و ظرافتش برای لباس عروس بسیار پرکاربرد است. اگه پارچه ای را می بینید که روی تور طرح های برجسته، براق
                    و ظریفی کار شده و از پشت پارچه هم زبری دیده نمی‌شود، پارچه‌ی خوبی خریده‌اید!</p>
                <p>
                    <strong>مخمل : </strong>نوعی پارچه کرکی است که از ابریشم، پنبه، کتان یا پشم بافته می‌شود. مخمل به علت دشواری
                    ساخت و تولید، معمولا جزء پارچه‌های اشرافی و لوکس محسوب می‌شود؛ گرچه با پیشرفت فناوری روز، تولید آن هزینهٔ
                    کمتری پیدا کرده‌است. صفت «مخملی» اشاره مستقیم به لطافت و نرمی این نوع پارچه دارد و منظور از آن «به نرمی
                    مخمل» است.</p>
                <p>
                    <strong>موهر : </strong>موی بعضی از نژادهای بز لطیف و با ارزش است . از بز نژاد آنقره ٬ سالیانه مقدار زیادی موی
                    بلند و لطیف به دست می آید که موهر نامیده می شود . درازای تارهای موهر معمولا” میان ١٣ تا ٢٢ سانتیمتر و
                    قطر آن ۵٠ تا ۶٠ میکرون است . هر چه قطر موهر کمتر باشد لطیفتر و گرانتر است و در بازارهای جهانی از بهترین
                    پشمهای گوسفندان مرینوس نیز گرانبهاتر است . تارهای موهر خاصیت کشسانی مناسبی دارند از این رو پارچه های
                    بافته شده از موهر کمتر چروک می شوند . امروزه در صنعت بافندگی از موهر خالص کمتر استفاده می شود . موهر
                    را با پشم گوسفند ٬ مو و کرک بز و یا با کتان ٬ کنف ٬ پنبه و نیز با الیاف مصنوعی مانند نایلون و پرلون ٬
                    به نسبتهای معین درهم می کنند و با آن پارچه های گوناگون می بافند . تارهای موهر خاصیت رنگ پذیری خوبی دارند
                    و رنگها را با درخشندگی و شفافیت زیادنشان می دهند.</p>
                <p>
                    <strong>پولیش : </strong>پارچه‌هایی که پوشش مویی ضخیمی دارند و رنگ و اندازه آن شبیه خز واقعی است که به پولیش
                    معروف است و نخ آن مصنوعی است.</p>
                <p>
                    <strong>فوتر : </strong>َمَد نوعی بافته سنتی زیراندازی است که با پشم تولید می‌شود. در فرانسه به آن فوتر می‌گویند.</p>
                <p>
                    <strong>لمه : </strong>پارچه ای رنگارنگ و براق که از الیاف رنگی یا نخ‌های براق بافته شده است.</p>
                <p>
                    <strong>کتان کش : </strong>همان پارچه‌ی کتان است که با نخ کشی بافته می‌شود. نخ کشی عبارت است از ترتیب گذرانیدن
                    نخ های تار از سوراخ های میلمیلک و رد دستگاه یا ماشین بافندگی تعداد کل میلمیلک های مورد نیاز برای عمل
                    نخ کشی برابر با تعداد کل نخ های تار است.</p>
                <p>
                    <strong>ژاکارد : </strong>همه پارچه‌هایی که طرح آنها از روند بافت پارچه شکل گرفته است.</p>
                <p>
                    <strong>مش : </strong>نوعی بافت برای پارچه و دیگر مواد است که دارای حفره‌های درشت است.</p>
                <p>
                    <strong>برزنت : </strong>برزنت یک پارچه مستحکم، منعطف و ضدآب است که معمولا از پارچه‌هایی مانند کرباس و یا پلی
                    استر با روکش یوریتان و یا پلاستیک هایی مانند پلی اتیلین ساخته می‌شود.</p>
                <p>
                    <strong>کرباس : </strong>پارچه‌ای مقاوم است از الیاف پنبه و یا لینن است که از آن برای ساخت چادر مسافرتی، کوله
                    پشتی و غیره استفاده می‌شود.</p>
                <p>
                    <strong>الباف بانبو : </strong>بامبو انعطاف پذیر، نرم، دارای ظاهری براق و دوستدار محیط زیست است. الیاف بامبو
                    می تواند نرمتر از الیاف ابریشم و پنبه باشد. از دیگر ویژگی های خوب آن می توان به جذب بسیار سریع رطوبت
                    و عرق بدن، قابلیت تنفس پذیری و گرم نگه داشتن بدن در محیطهای سرد اشاره کرد. استفاده طولانی مدت از پارچه
                    بامبو موجب می گردد پوست بدن سطحی خشک و احساس راحتی داشته باشد به‌ طوری که قابلیت جذب آن ۳ الی ۴ برابر
                    پنبه می باشد. علت این امر ساختار کانالی بودن و سوراخ دار بودن لیف بامبو است.</p>
                <p>
                    <strong>تریکو : </strong>پارچه تریکوی پودی در جهت عرضی و طولی قابلیت کشش دارد. امکانات طراحی وسیع. در تریکوی
                    بافی پودی می توان لباس را با فرم دلخواه تهیه کرد مانند یقه،حلقه آستین و آستین.</p>
                <p>
                    <strong>مرسریزه : </strong>عمل آوری پارچه های مخلوط پنبه، پلی استر با محلول قلیایی داغ، به منظور انجام مرسریزه
                    کردن گرم در جزء پنبه و ابریشم مانند شدن زیر دست پلی استر و بهبود خواص آن مورد استفاده قرار می گیرد.</p>
            </div>
        </div>
    </div>
</div>